body {
    background-color: hsl(148, 38%, 91%);
    font-family: "Karla", serif;
    font-weight: 400;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Karla", sans-serif;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  form {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.6rem;
    padding: 1.5rem;
    width: 500px;
  }
  h1 {
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .name div {
    display: flex;
    flex-direction: column;
  }
  input {
    border: 1px solid hsl(186, 15%, 59%);
    cursor: pointer;
    border-radius: 0.3rem;
    height: 30px;
    padding-left: 0.5rem;
  }
  input:hover,
  input:visited {
    border: 2px solid hsl(169, 82%, 27%);
  }
  label {
    display: block;
    margin-bottom: 0.2rem;
  }
  .email {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .query-container {
    margin-bottom: 1rem;
  }
  .query {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
  .query-box {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 0.3rem;
    cursor: pointer;
  }
  .query-box:active,
  .query-box:visited {
    background-color: hsl(148, 38%, 91%);
  }
  .query input {
    cursor: pointer;
    margin-left: 1rem;
  }
  .message-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .message-box textarea {
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 0.3rem;
  }
  .clicked {
    margin-bottom: 1rem;
  }
  .checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .checkbox label {
    display: inline;
  }
  .submit {
    background-color: hsl(169, 82%, 27%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-weight: 700;
    width: 100%;
  }
  .error-msg {
    color: red;
  }
  .error {
    font-size: 0.8rem;
    margin-top: 0.3rem;
  }
  .error-border {
    border: 2px solid red;
  }

  .error-border {
    border: 2px solid red;
  }
  
  .hidden {
    display: none;
  }
  .success-border {
    border: 2px solid green;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
  }
  
  /* #success-toast {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  } */